@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    font-family: 'Nerko One', cursive;
    font-weight: 400;
}

body{
    background-color: lightskyblue;
}

h1{
    font-size: 3rem;
}

.container__tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.tarjeta img{
    width: 100%;
    border-radius: 1rem;
}

.tarjeta{
    width: 200px;
    border: 2px solid darkmagenta;
    /* margin: 1rem; */
    background-color: lightpink;
    border-radius: 1rem;
    padding: 1rem;
}